* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

/* COMMON CSS START */
body {
  background: #f5f5f5;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.bg-primary {
  background: #006a50;
}

.bg-secondary {
  background: #c6e4d6;
}
.text-gray {
  color: #0e0e0e80;
}
.btn {
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  border: 1px solid #006a50;
  /* font-size: 11px; */
  border-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  border: 1px solid transparent;
}
.btn:hover {
  background: transparent;
  color: #006a50;
  border: 1px solid #006a50;
}
.flex {
  display: flex;
  gap: 10px;
}

/* COMMON CSS END */

/* HEADER START */
/* NAVBAR START */
nav {
  padding: 20px 0;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item h1 {
  font-family: "Fira Sans", serif;
}
.signin-btn {
  color: #006a50;
  font-weight: 600;
  border: 1px solid #006a50;
  font-size: 13px;
  background: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}
.signin-btn:hover {
  background: #006a50;
  color: #fff;
}
/* NAVBAR END */
/* BANNER START */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c6e4d6;
  border-radius: 5px;
  padding: 100px 30px;
}
.banner-section span {
  font-weight: 500;
}
.banner-section h1 {
  font-size: 56px;
  color: #0e0e0e;
}

.banner-hero-image img {
  width: 350px;
}
/* BANNER END */

/* HEADER END */

/* PILLARS SECTION START */
.pillars-section {
  padding: 50px 0;
}
.pillars {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.pillar {
  background: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 4px #00000017;
  padding: 25px;
  transition: transform 0.3s ease-in-out;
}
.pillar:hover {
  transform: scale(1.02);
}
.pillar h3 {
  font-size: 18px;
  margin: 8px 0;
}
.pillar p {
  font-size: 16px;
  color: #0e0e0eb2;
}
/* PILLARS SECTION END */
/* VISION START */
.vision-section {
  padding: 50px 0;
}
.vision-header p {
  color: #0e0e0eb2;
  margin: 10px 0;
}
.visions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.vision-card-bg-sky {
  background: #5490f533;
}
.vision-card-bg-green {
  background: #c6e4d6;
}
.vision-card-bg-orange {
  background: #f7ebcf;
}
.vision-card {
  border-radius: 16px;
  padding: 25px;
  transition: transform 0.3s ease-in-out;
}
.vision-card:hover {
  transform: scale(1.02);
}
.vision-card h3 {
  font-size: 18px;
  margin: 8px 0;
}
.vision-card p {
  font-size: 16px;
  color: #0e0e0eb2;
}
.vision-btn {
  padding: 10px 15px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
  background: #5490f5;
  border: none;
  /* font-size: 11px; */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;
}
.vision-btn:hover {
  color: #5490f5;
  border: 1px solid #5490f5;
  background: transparent;
}
.Infrastructure-bg {
  background: #09a15c;
  transition: 0.5s;
  border: 1px solid transparent;
}
.Infrastructure-bg:hover {
  color: #09a15c;
  border: 1px solid #09a15c;
}
.Empowerment-bg {
  background: #ffc239;
  transition: 0.5s;
  border: 1px solid transparent;
}
.Empowerment-bg:hover {
  color: #ffc239;
  border: 1px solid #ffc239;
}
/* VISION END */
/* TESTIMONIAL START */
.testimonial-bg {
  background: url("./assets/quote-bg.png");
  background-repeat: no-repeat;
  padding: 50px;
  background-position: 50px 25px;
}
.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #00000017;
  font-family: Arial, sans-serif;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  z-index: 1;
}
.quote-icon {
  position: absolute;
  top: 5px;
  z-index: -1;
  color: #bbb;
  font-size: 60px;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 16px;
  color: #0e0e0ecc;
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 20px;
}

.author-info h4 {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin: 0;
}

.author-info p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* TESTIMONIAL END */
/* Openinon section start */
.opinion-section {
  padding: 40px 0;
}

.opinion-section .container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.opinion-section h2 {
  margin: 20px 0;
}

.opinion-section .table {
  width: 100%;
  border-collapse: collapse;
}

.opinion-section .table th,
.opinion-section .table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.opinion-section .table th {
  background-color: #d4edda;
}

.opinion-section .select-dropdown {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #c6e4d6;
  cursor: pointer;
}

/* Openinon section end */
/* RECENT NEWS START */
.recent-news-section {
  padding: 50px 0;
}
.recent-news-header p {
  color: #0e0e0eb2;
  margin: 10px 0;
}
.news-card {
  margin-top: 30px;
  display: flex;
  box-shadow: 1px 1px 4px #00000017;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  gap: 24px;
  color: #0e0e0eb2;
}
.news-source {
  display: flex;
  align-items: center;
  gap: 3px;
}
.news-source img {
  width: 25px !important;
}
.news-source p {
  font-weight: 500;
  color: #000 !important;
}
.news-card h2 {
  color: #000;
}
.news-card .satelite-img {
  border-radius: 20px;
  width: 320px;
}
.news-card .news-img {
  width: 100px;
  margin: 8px 0;
}
.news-card p {
  font-size: 16px;
  color: #0e0e0eb2;
  margin: 10px 0;
}
.new-btn {
  background: #006a50;
  color: #fff;
}
/* RECENT NEWS END */
/* DONATION SECTION START */
.donation-section {
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
}
.donation-header {
  text-align: center;
}
.donation-header h1 {
  font-size: 30px;
}
.donation-header p {
  padding: 20px 0;
  color: #0e0e0eb2;
  font-size: 16px;
}
.amount-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.amount-card {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.amount-card:hover {
  background: #c6e4d6;
}
.amount-card-200 {
  background: #c6e4d6;
}
.amount-card h1 {
  font-size: 30px;
}
form {
  width: 80%;
  margin: 0 auto;
}
.form-input {
  padding: 13px;
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.donate-btn {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.donate-btn button {
  border: 1px solid transparent;
  padding: 12px 30px;
  background: #006a50;
  color: #fff;
  border-radius: 5px;
}
.donate-btn button:hover {
  background: transparent;
  color: #006a50;
}
/* Donation section end */
/* subscribe-section start */
.subscribe-section {
  background: #c6e4d6;
  padding: 100px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
}

.subscribe-inner {
  width: 70%;
  margin: 0 auto;
}

.subscribe-section h1 {
  font-size: 30px;
}

.subscribe-section p {
  font-size: 16px;
  color: #0e0e0eb2;
  padding: 15px 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.subscribe-form input {
  padding: 12px 10px;
  flex: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.3s;
}
.subscribe-form input:hover {
  border: 2px solid #006a50;
}

.subscribe-form button {
  padding: 12px 20px;
  background-color: #006a50;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  position: relative;
  top: -3px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;
}

.subscribe-form button:hover {
  color: #006a50;
  border: 1px solid #006a50;
}
.subscribe-inner span {
  font-size: 14px;
  color: #0e0e0eb2;
  margin-top: 15px;
  display: inline-block;
}
/* subscribe-section end */
/* footer section start */

.fotter-content {
  text-align: center;
  padding: 40px;
}
.hr-border {
  border: 1px solid #0e0e0e1a;
  width: 70%;
  margin: 20px auto;
}
.social-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}
/* footer section end */
